//
// Spoqa Han Sans
// FIXME: Change as webfont
// ==========================================================================
/* 테크블로그에서는 폰트를 다르게 불러오고 있으므로 주석처리함

ENG, KR
// --------------------------------------------------------------------------

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('static/fonts/SpoqaHanSans-Bold_subset.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('static/fonts/SpoqaHanSans-Regular_subset.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa Han Sans';
  src: url('static/fonts/SpoqaHanSans-Thin_subset.woff') format('woff');
  font-weight: 100;
}


// JP
// --------------------------------------------------------------------------

@font-face {
  font-family: 'Spoqa Han Sans JP';
  src: url('static/fonts/SpoqaHanSansJP-Bold_subset.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'Spoqa Han Sans JP';
  src: url('static/fonts/SpoqaHanSansJP-Regular_subset.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Spoqa Han Sans JP';
  src: url('/fonts/SpoqaHanSansJP-Thin_subset.woff') format('woff');
  font-weight: 100;
}
*/

// Default Setting
// --------------------------------------------------------------------------

body {
//font-family: $font-family-base;//테크블로그에서는 폰트를 다르게 불러오고 있으므로 주석처리함
  font-size: $blog-font-size-base;//테크블로그 기본 폰트 사이즈를 설정했습니다.
  line-height: 1.5em;
  color: $text-color;
  -webkit-font-smoothing: antialiased;
  word-break: keep-all;

/*  &:lang(ja) {
    font-family: $font-family-jp;
    line-height: 1.6em;
  }
*/
}


// Heading
// --------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
  margin-top: 1.5em;
  margin-bottom: 1em;
}

h1, h2 {
  font-weight: 100;
  line-height: 1.3em;
}

h3, h4, h5, h6 {
  font-weight: 400;
  line-height: 1.5em;
}

h1 { font-size: 48px; }
h2 { font-size: 36px; }
h3 { font-size: 22px; }
h4 { font-size: 22px; color: $grey-text-color; } // FIXME: 추후에는 이 파일은 원본을 사용하고 에드혹 시트는 style.scss에 몰아서 관리합니다.
h5 { font-size: 16px; } //테크블로그에서는 16px이 기본 폰트 사이즈이므로 그것과 같게 설정합니다.
h6 { font-size: 16px; color: $grey-text-color; font-weight: bold; } // FIXME: 추후에는 이 파일은 원본을 사용하고 에드혹 시트는 style.scss에 몰아서 관리합니다.


// Body text
// --------------------------------------------------------------------------

p {
  margin: 0 0 0.5em;
  font-size: $blog-font-size-base;//테크블로그 기본 폰트 사이즈를 설정했습니다.
}


// Lists
// --------------------------------------------------------------------------

// Unordered and Ordered lists
/* 테크블로그에서는 쓰지 않아 삭제
  ul, ol {
  margin: 0.75em auto;
  padding-left: 30px;

  li {
    margin-bottom: 0.25em;
  }

  ul, ol {
    margin: 0.5em auto 1em;
    padding-left: 1em;
  }

  ol {
    list-style-type: lower-roman;
  }
}

// List options
.list-unstyled {
  padding-left: 0;
  list-style: none;
}
*/

// Description Lists
// --------------------------------------------------------------------------

dl {
  margin-top: 0; // Remove browser default
  margin-bottom: 2em;
}

dt,
dd {
  line-height: 1.5em;
}

dt {
  margin-bottom: 1em;
  font-weight: bold;
}

dd {
  margin-left: 0; // Undo browser default

  + dt {
    margin-top: 50px;
  }
}


// Inline text elements
// --------------------------------------------------------------------------

small {
  font-size: $blog-font-size-sm;
  -webkit-font-smoothing: subpixel-antialiased;
}


// Alignment
// --------------------------------------------------------------------------

.text-left           { text-align: left; }
.text-right          { text-align: right; }
.text-center         { text-align: center; }
