---
# this ensures Jekyll reads the file to be transformed into CSS later
# only Main files contain this front matter, not partials.
---
@import 'spoqa-colors';
@import 'reset/reset';
// @import 'solarized_light.css';
@import 'monokai_sublime.css';
@import '_variables';
@import '_type';


// Typekit Font loader attrs
.wf-loading body {
  font-family: "Apple SD Gothic Neo", "Nanum Barun Gothic", "Nanum Gothic", Verdana, Arial, "Malgun Gothic", Dotum, sans-serif;
}

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: $grey-9;
  -webkit-text-size-adjust: none;
  -webkit-overflow-scrolling: touch;
  word-wrap: normal;
  border: none;
  margin: 0;
  padding: 5px 0;
  width: 100%;
  font-size: 13px;
  border-radius: 4px;
  line-height: 1.4em;
}
.hljs::-webkit-scrollbar {
  width: 5px;
  height: 3px;
}
.hljs::-webkit-scrollbar-track {
  background: $grey-9;
}
.hljs::-webkit-scrollbar-thumb {
  background: #888;
}
.hljs::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.content,
.footer {
  width: 90%;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 3% 5%;
}

.spoqa_intro {
  padding-top: 28px;
}

/* text style */
.post {
  p a,
  ol a,
  ul a {
    padding-right: 2px;
    &:hover {
      text-decoration: underline;
    }
  }
  blockquote p {
    padding-top: 0;
    padding-bottom: 0;
  }
  ul,
  ol {
    margin: 10px 0 10px 30px;
  }
  li {
    margin: 6px 0;
    line-height: 1.6em;

    pre {
      width: calc(100% - 42px);
    }
  }
  ol li ul,
  ol li ol,
  ul li ul,
  ul li ol {
    margin: 0 0 0 40px;
  }
  hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    margin: 30px 0;
  }
  caption {
    margin: 10px;
  }
}

// footnote
a.footnote {
  &,
  .post p &,
  .post ol &,
  .post ul & {
    margin: 0 3px;
    padding: 2px 6px 2px;
    font-size: $blog-font-size-sm;
    text-align: center;
    -webkit-text-stroke: 0.25px;
    border: 1px solid $divider-color;
    border-radius: 2px;
    -webkit-transition: 0.2s ease-out all;
    text-decoration: none;

    &:hover {
      background: $btn-default-active-bg-color;
    }
  }
}
.footnotes {
  margin-top: 60px;
  border-top: 1px solid $divider-color;

  &.post li,
  &.post li p {
    font-size: $blog-font-size-sm;
  }
}

// header
.header {
  height: 60px;
  padding: 0 5%;
  background-color: #fff;
  border-bottom: 1px solid $divider-color;
  box-shadow: 0 0 1px rgba(0,0,0,0.15);
}
.header-item {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}
.spoqa-logo-wrap {
  padding-top: 20px;
  float:left;
}
.spoqa-logo img {
  width: 60px;
  height: auto;
  padding-top: 1px;
  padding-right: 6px;
  vertical-align: middle;
}
.blog-title {
  font-size: $blog-font-size-sm;
  color: $grey-text-color;
}
.atom-img {
  display: inline-block;
  width: 14px;
  height: 14px;
  cusror: pointer;
  margin: 0 10px;
  background-image: url(/images/atom.png);
  text-indent: -9999em;
}
.atom-img:hover {
  background-image: url(/images/atom-hover.png);
}

/* menu list btn */
.nav {
  display: block;
  float: right;
}
#toggle,
.toggle {
  display: none;
}
.toggle {
  z-index: 2;
}
.toggle:hover:after {
  border-bottom: 3px solid $primary-color;
}
.toggle:after {
  content: 'Menu';
  display: inline-block;
  padding: 23px 20px 16px;
  background: transparent;
  text-align: center;
  color: $text-color;
  line-height: 19px;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s linear;
  -o-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 3px solid transparent;
}
#toggle:checked + .toggle:after {
  border-bottom: 3px solid $primary-color;
}
// Menu
.menu {
  display: inline-block;
  float: right;
}
.menu li {
  display: inline-block;

  a {
    padding: 19px 20px 15px;
    color: $text-color;
    display: inline-block;
    border-bottom: 3px solid transparent;

    &:active,
    &.selected {
      -webkit-transition: 0.2s ease-out all;
      border-bottom: 3px solid $primary-color;
      color: $hightlight-text-color;
    }
    &:focus,
    &:hover {
      -webkit-transition: 0.2s ease-out all;
      border-bottom: 3px solid $divider-color;
    }
  }
}
.logo-img {
  margin-top: 10px;
  padding-right: 15px;
  vertical-align: middle;
}
.dev-blog {
  font-weight: 100;
  font-size: $blog-font-size-lg;
  color: white;
  display: inline-block;
}

/* post-authot-info (post-info로 수정하는게 의미상 맞을 듯) */

.sep {
  color: $grey-text-color;
  margin: 0 5px;
}

/* blog list */

.posts .post-author-info { /*추후에는 blog list 의 post-author-info와 blog의 post-author-info를 분리하는게 좋을 듯.*/
  margin: 0;
  text-align: left;
}
.posts .post-author-info .portrait {
  width: 60px;
  vertical-align: middle;
  float: right;
  margin-left: 40px;
}
.posts li {
  border-bottom: 1px solid $divider-color;
  padding: 8% 0;
}
.list-type-none {
  list-style: none;
}

/* pagination */

.pagination {
  text-align: center;
  margin-top: 2em;

  ol {
    display: inline-block;
    margin: 14px 24px;
  }
  li {
    display: inline-block;
  }
  li a {
    -webkit-transition: 0.2s ease-out all;
    margin: 4px 0;
    padding: 9px 14px;
    border-radius: 2px;
    font-size: $blog-font-size-sm;
    color: $text-color;
  }
  .page .current-page,
  .page .current-page:hover {
    margin: 4px 0;
    padding: 9px 14px;
    border-radius: 2px;
    font-size: $blog-font-size-sm;
    color: $text-color;
    background-color: $grey-highlight-color;
  }
  .previous a,
  .next a,
  .previous.disabled,
  .next.disabled {
    font-size: $blog-font-size-sm;
    color: $text-color;
    -moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		color: rgba(160, 160, 160, 0.3) !important;
  }
  .previous.disabled,
  .next.disabled {
    color: $text-color;
    -moz-pointer-events: none;
		-webkit-pointer-events: none;
		-ms-pointer-events: none;
		pointer-events: none;
		color: rgba(160, 160, 160, 0.3) !important;
  }
  .previous,
  .next {
    padding: 0;
    border-radius: 2px;
    display: inline-block;
  }
  .previous:hover,
  .next:hover,
  .page a:hover {
    -webkit-transition: 0.2s ease-out all;
    background-color: $grey-highlight-color;
  }
}

ol {
  list-style: decimal;
  margin: 0 0 2em 0;
  padding-left: 1.25em;
}

ol li {
  padding-left: 0.25em;
}

ul {
  list-style: disc;
  padding-left: 1em;
}

ul li {
  padding-left: 0.5em;
}

ul li ul {
  margin-bottom: 0;
}

ul.alt {
  list-style: none;
  padding-left: 0;
}

ul.alt li {
  border-top: solid 1px rgba(160, 160, 160, 0.3);
  padding: 0.5em 0;
}

ul.alt li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.actions {
  cursor: default;
  list-style: none;
  padding-left: 0;
}

ul.actions li {
  display: inline-block;
  padding: 0 0 0 0;
  vertical-align: middle;
}

ul.actions li:last-child {
  padding-right: 0;
}

ul.actions.pagination .next {
  text-decoration: none;
  font-size: $blog-font-size-md;
  margin: 0 0.5em 0 0.5em;
}

ul.actions.pagination .previous {
  text-decoration: none;
  font-size: $blog-font-size-md;
  margin: 0 0.5em 0 0.5em;
}

@media screen and (max-width: 1280px) {
  ul.actions.pagination {
    text-align: center;
  }

  ul.actions.pagination .next, ul.actions.pagination .previous {
    min-width: 10em;
  }
}

@media screen and (max-width: 736px) {
  ul.actions.pagination .next, ul.actions.pagination .previous {
    min-width: 8em;
  }
}

ul.actions.small li {
  padding: 0 1em 0 0;
}

ul.actions.vertical li {
  display: block;
  padding: 1.5em 0 0 0;
}

ul.actions.vertical li:first-child {
  padding-top: 0;
}

ul.actions.vertical li > * {
  margin-bottom: 0;
}

ul.actions.vertical.small li {
  padding: 1em 0 0 0;
}

ul.actions.vertical.small li:first-child {
  padding-top: 0;
}

ul.actions.fit {
  display: table;
  margin-left: -1em;
  padding: 0;
  table-layout: fixed;
  width: calc(100% + 1em);
}

ul.actions.fit li {
  display: table-cell;
  padding: 0 0 0 1em;
}

ul.actions.fit li > * {
  margin-bottom: 0;
}

ul.actions.fit.small {
  margin-left: -0.5em;
  width: calc(100% + 0.5em);
}

ul.actions.fit.small li {
  padding: 0 0 0 0.5em;
}

@media screen and (max-width: 480px) {
  ul.actions {
    margin: 2em 0;
  }

  ul.actions li {
    padding: 1em 0 0 0;
    display: block;
    text-align: center;
    width: 100%;
  }

  ul.actions li:first-child {
    padding-top: 0;
    padding-bottom: 1em;
  }

  ul.actions li:last-child {
    padding-top: 0.5em;
  }

  ul.actions li > * {
    width: 100%;
    margin: 0 !important;
  }

  ul.actions.small li {
    padding: 0.5em 0 0 0;
  }

  ul.actions.small li:first-child {
    padding-top: 0;
  }
}

/* blog post */
figcaption {
  text-align: center;
  font-size: $blog-font-size-sm;
  color: $grey-text-color;
  margin-bottom: 20px;
}

img {
  pointer-events: none;
}
.post {
  word-break: break-all;

  h1 {
    font-size: $blog-font-size-lg;
  }

  img {
    max-width: 100%;
    display: block;
    border: solid 1px #e1e4e6;
  }
}
.post-author-info {
  margin: 12% 0;
  text-align: center;

 .portrait {
    width: 17%;
    vertical-align: middle;
  }
 .author-name a,
 .author-name {
    color: $grey-text-color;
  }
}
.post-date {
  margin-bottom: 10px;
  color: $grey-text-color;
}
.post-title {
  font-size: 48px;
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 100;
  color: $text-color;
  word-break: break-all;
}
.posts .post-title {
  margin: 0 0 5px;
  font-size: $blog-font-size-lg;
}
.post-title-words{
  font-weight: 100;
  color: $text-color;
}
.post-description {
  margin: 18px 100px 6px 0;
  padding: 0;
}
.post-footer {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* post-footer back btn */
.next-btn {
  margin: 70px auto 0px auto;
  text-align: center;
}
.next-btn a {
  padding: 20px 70px;
  display: inline-block;
  border: 1px solid $btn-border-color;
  border-radius: 3px;
  color: $text-color;
}
.next-btn a:hover {
  background-color: $btn-default-active-bg-color;
  border-color: $btn-border-color;
}

/* post-footer back btn */

.back-btn {
  margin: 40px auto 70px auto;
  text-align: center;
}
.back-btn a {
  padding: 20px 70px;
  display: inline-block;
  border: 1px solid $btn-border-color;
  border-radius: 3px;
  color: $text-color;
}
.back-btn a:hover {
  background-color: $btn-default-active-bg-color;
  border-color: $btn-border-color;
}

/* blog ends */

/* about */

.post .intro-title {
  margin-top: 20px;
  padding-bottom: 12px;
  font-size: $blog-font-size-lg;
  border-bottom: 1px solid $divider-color;
}
.about p a,
.about ol a,
.about ul a {
  padding-right: 2px;
}
.author {
  overflow: auto;
  padding: 30px 0;
  border-bottom: 1px solid $divider-color;
}
.author-title {
  /*margin-top: 100px;*/
}
.author-info {
  margin-top: 3px;
  margin-left: 20%;
}
.author .description {
  line-height: 1.6em;
}
.about .bold {
  font-weight: bold;
}
.sns a {
  margin: -5px 2px 0 0;
  vertical-align: middle;
}
.nick-name {
  margin-right: 10px;
  font-weight: bold;
}
.nick-name a {
  color: $text-color;
}
.author img {
  width: 14%;
  padding: 0;
  border-radius: 50%;
  float: left;
}
.item {
  margin: 10px 0;
}
.item-title {
  width: 23%;
  padding: 0;
  float: left;
  font-weight: bold;
  color: #939a9f;
}
.item-body {
  margin-left: 23%;
}

.twitter-icon {
  display: inline-block;
  background-image: url(/images/twitter-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.facebook-icon {
  display: inline-block;
  background-image: url(/images/facebook-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.tumblr-icon {
  display: inline-block;
  background-image: url(/images/tumblr-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.dribbble-icon {
  display: inline-block;
  background-image: url(/images/dribbble-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.linkedin-icon {
  display: inline-block;
  background-image: url(/images/linkedin-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.wordpress-icon {
  display: inline-block;
  background-image: url(/images/wordpress-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.homepage-icon {
  display: inline-block;
  background-image: url(/images/homepage-icon.png);
  background-size: 24px 24px;
  width: 24px;
  height: 24px;
}
.github-icon {
  display: inline-block;
  background-image: url(/images/github-icon.png);
  background-size: 23px 23px;
  width: 23px;
  height: 23px;
}

/* footer */

.footer {
  margin-bottom: 20px;
  font-size: $blog-font-size-sm;
  color: $grey-text-color;
}
.footer a {
  color: $grey-text-color;
}
.footer a:hover {
  text-decoration: underline;
}


/* responsive */
@media only screen and (max-width: 660px) {
  // .spoqa-logo-wrap {
  //     float:none;
  // }
}

@media only screen and (max-width: 660px) {
  body {
    width: 100%;
  }
  .header {
    height: 60px;
  }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
  }
  .menu {
    display: none;
    margin: 10px 5% 0;
    width: 90%;
    position: absolute;
    z-index: 1;
    right: 0;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 2px;
    text-align: center;
  }
  .menu li {
    display: block;
  }
  .menu li a {
    padding: 15px 0;
    width: 100%;
  }
  .hiring-banner {
    height: 380px;
    cursor: pointer;
  }
  .hiring-content {
    top: 60px;
    right:0;
    left:0;
    margin: 0;
    text-align:center;
  }
  .hiring-title {
    font-size: $blog-font-size-lg;
  }
  .hiring-subtitle br{
    display: none;
  }
  .btn-job {
    width: 70%;
  }
  .post-author-info .portrait {
    width: 40%;
  }
  .posts .portrait {
    display: none;
  }
  .post {
    ul,
    ol {
      margin: 10px 0 10px 10px;
    }
  }
  .posts li {
    padding: 15% 0;
  }
  .posts {
    ul {
      padding-left: 0;
    }
  }
  .pagination .pages li {
    display: none;
  }
  .posts .post-title {
    margin-right: 0;
    word-break: break-all;
  }
  .posts .post-description {
    margin-right: 0;
  }
  .back-btn a {
    padding: 20px 25%;
  }
  .pagination .previous {
    float: left;
  }
  .pagination .next {
    float: right;
  }
  .item-title {
    float: inherit;
    width: auto;
  }
  .item-body {
    margin-left: 0;
  }
}

@media only screen and (max-width: 360px) {
  body {
    width: 100%;
  }
  .hiring-banner {
    height: 380px;
    text-align: center;
    cursor: pointer;
  }
  .hiring-content {
    top: 60px;
    right:0; left:0;
    text-align: center;
    margin: 0;
  }
  .hiring-title {
    font-size: $blog-font-size-lg;
  }
  .btn-job {
    margin-top: 20px;
  }
}

/* for IE8 and lower */
.res-mobile {
  .header {
    height: 80px;
  }
  .menu {
    float: left;
    padding: 8px 0;
  }
  .menu li a {
    padding-left: 0;
    padding-right: 20px;
  }
  .post-title {
    margin-right: 0;
  }
  .pagination .pages li {
    display: none;
  }
  .post-description {
    margin-right: 0;
  }
  .back-btn a {
    padding: 20px 25%;
  }
}


/* fb comment plug-in overrides */
.fb-comments > span {
  padding-top: 30px;
}
