---
layout: default
---

{% if paginator.page == 1 %}
  {% assign base_path = '.' %}
{% else %}
  {% assign base_path = '..' %}
{% endif %}

  <div class="posts">
    <ul class="posts list-type-none">
      {% for post in paginator.posts %}
        {% if post.publish != false %}
        <li class="post-item">
          {% if post.author %}

          <div class="post-author-info">
            {% if post.author-email %}
              <img class="portrait" src="{{base_path}}/images/profile/{{post.author-email}}.png" />
              <h2 class="post-title"><a href="{{ base_path }}{{ post.url }}"><span class="post-title-words">{{ post.title }}</span></a></h2>
              <p class="post-description">{{ post.description }}</p>
              <span class="post-date">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
              <span class="sep">|</span>
              <span class="author-name"><a href="mailto:{{post.author-email}}">{{post.author}}</a></span>

            {% else %}
              <h2 class="post-title"><a href="{{ post.url }}"><span class="post-title-words">{{ post.title }}</span></a></h2>
              <p class="post-description">{{ post.description }}</p>
              <span class="post-date">{{ post.date | date: "%Y년 %m월 %d일" }}</span>
              <span class="sep">|</span>
              <span class="author-name">{{post.author}}</span>
            {% endif %}
          </div>
        {% endif %}


        </li>

        <div style="clear: both;"></div>
        {% endif %}
      {% endfor %}
    </ul>
  </div>

  <div id="post-pagination" class="pagination clearfix">

  {% if paginator.previous_page %}
  <p class="previous">
  {% if paginator.previous_page == 1 %}
  <a href="/">이전 페이지</a>
  {% else %}
  <a href="/page{{paginator.previous_page}}">이전 페이지</a>
  {% endif %}
  </p>
  {% else %}
  <p class="previous disabled">
  <span>이전 페이지</span>
  </p>
  {% endif %}

  <ol class="pages">
  <li class="page">
  {% if paginator.page == 1 %}
  <span class="current-page">1</span>
  {% else %}
  <a href="/">1</a>
  {% endif %}
  </li>

  {% for count in (2..paginator.total_pages) %}
  <li class="page">
  {% if count == paginator.page %}
  <span class="current-page">{{count}}</span>
  {% else %}
  <a href="/page{{count}}">{{count}}</a>
  {% endif %}
  </li>
  {% endfor %}
  </ol>

  {% if paginator.next_page %}
  <p class="next">
  <a href="/page{{paginator.next_page}}">다음 페이지</a>
  </p>
  {% else %}
  <p class="next disabled">
  <span>다음 페이지</span>
  </p>
  {% endif %}

  </div>
