---
layout: default
title: 크리에이터를 찾고 있습니다.
description: 스포카에서 상점을 위한 IT 서비스를 디자인하고 개발할 크리에이터를 찾고 있습니다.
representing_image: "/images/iwantyou-02-01.png"
---
<style type="text/css">
#job-table {
    width: 100%;
}
#job-table td {
    text-align: center;
}
.hiring-banner {
  height: 320px;
  background-position-y: 80%;
}
.hiring-subtitle,
.btn-job
{
  display: none;
}
@media only screen and (max-width: 360px) {
  .hiring-banner {
    height: 220px;
  }
}
</style>
<div class="post">
<h2>소개</h2>

<ul>
<li><a href="http://www.spoqa.com/">(주)스포카</a>는 태블릿 기반 멤버십 서비스, 도도 포인트를 만들고 있는 기술 스타트업입니다.</li>
<li><a href="http://www.dodopoint.com/">도도 포인트</a>는 2012년 3월 런칭한 최초의 태블릿 기반 멤버십 서비스로 현재 약 6,500여 개의 매장에서 700만 명의 사용자가 이용하고 있습니다.</li>
</ul>

{{ content }}
